@font-face {
    font-family: PT Sans;
    src: url(../assets/fonts/PTSans-Regular.ttf) format("truetype");
}

body,
html {
    font-family: PT Sans;
    text-align: center;
    color: #323b3c;
}

#listHashtag {
    display: block;
}

#listFilms,
#listPlaylist {
    width: 90vw;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.voirPlaylist-button,
.removeFilm-button,
.removefilmfromplaylist-button {
    display: block;
    margin: auto;

}

table {
    width: 100%;
}

.playlist-card,
.film-card {
    width: 13vw;
    height: 35vh;
    background-color: #cce8e5;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 2vw;
    margin: 2vh;
    padding: 2vh;
}

.playlist-card {
    background-color: #cce8e5;
}

.film-card {
    background-color: #ecefee
}

.playlist-card img,
.film-card img {
    max-width: 10vw;
    max-height: 10vw;
    margin: auto;
    border-radius: 2vh;
}

.hashtag {
    background-color: #cce8e5;
    width: 5vw;
    padding: 1vh;
    display: inline-block;
    margin: 1vw;
}

.genre {
    background-color: #ecefee;
    width: 5vw;
    padding: 1vh;
    display: inline-block;
    margin: 1vw;
}


.lignevote {
    display: inline;
}

#sous-menu {
    display: block;
}

.genre:hover,
.hashtag:hover {
    color: white;
    background-color: #323b3c;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}